.text{
    width: 500px;
    display: grid;
    /* justify-content: center; */
    color:black;
    
}

center{
    display: grid;
    justify-content: center;
    
    
}

.englobe{
    text-align: center;
    background-color: rgb(119, 141, 169);
   width: 1200px;
    height: auto;
    padding: 30px;
    border-radius: 15px;
  padding-bottom:70px;
  display: flex;
  justify-content: center;
}



.tof{
    width: 450px;
    margin-left: 100px;
}