
body{
  width: 100%;
}

.Tcard {
  display: grid;
  justify-content: center;
  grid-template-columns: 35% 35%;
  background-color: rgb(65, 90, 119);
 width: auto;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
  margin: 50px;
}

.Tcard2 {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 80% ;
  background-color: rgb(65, 90, 119);

  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
  margin: 50px;
  padding-top: 30px;
   overflow: auto;
}

.cardT {
  margin: 15px;
  background-color: rgb(119, 141, 169);
  width: 450px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
}

.cardT2 {
  margin: 15px;
  background-color: rgb(119, 141, 169);
  width: auto;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
}

.nomen {
  font-size: xx-large;
}

.Phototaille {
  width: 100px;
}
.engloPPhototaille {
  margin: 25px;
  margin-right: 50px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 15px;
  border: 3px solid rgb(65, 90, 119);
}

.photETpro {
  display: flex;
  
  align-items: center;
}

.priETpanier {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 15px;
  margin-left: 120px;
}

.prix {
  font-size: x-large;
  color: rgb(27, 38, 59);
  margin-right: 20px;
}

.butProduit{
    font-size: large;
    color: white;
    background-color: rgb(65, 90, 119);
}

.butProduit:hover{
    color:black;
}





@media only screen and (max-width: 767px) {
  body{
    width:700px;
    display: grid;
    justify-content: center;
  }

.Tcard {
    width: auto;
    display: grid;
    grid-template-columns:100%;
    justify-content: center;
    align-items: center;
  }

  
.nomen {
    font-size:x-large;
    margin-left: 10px;
  }
  .cardT2 {
  margin: 15px;
  background-color: rgb(119, 141, 169);
  width: 100p;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
}
.center{
  display: flex;
  justify-content: center;
}
.priETpanier {
  display: grid;
  justify-content: center;
  align-items: center;
  /* margin-left: 20px; */
}
}