.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  position: absolute;
  width: 50%;
  padding: 12px;
  border: 3px black solid;
  border-radius: 4px 4px 15px;
  box-shadow: 3px 3px 5px black;
  font-size: 16px;
  background-color: #ffffff;
  display: flex;
  margin-left: 25%;
  margin-top: -200px;
}

.sch {
  display: grid;
  justify-content: center;
  width: 35%;
  background-color: white;
  margin: 10px;
}
.ticketSearchBar {
  background-color: rgb(119, 141, 169);
  display: flex;
  margin: 5px;
  height: 230px;
  width: 750px;
  border-radius: 0px 0px 15px 0px;
}
.resulta {
  display: grid;
  justify-content: center;
  grid-template-columns: 15% 15% 15%;
  margin: 10px;
  background-color: white;
}

li {
  margin: 10px;
}
.rech{
 position: absolute;
 margin-top: -200px;
 margin-left: 350px;
}

@media (max-width: 600px) {
  .search-bar {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  body{
    display: grid;
   width: auto;
  }
  .search-bar {
    position: absolute;
    width: 80%;
    padding: 12px;
    border: 3px black solid;
    border-radius: 4px 4px 15px;
    box-shadow: 3px 3px 5px black;
    font-size: 16px;
    background-color: #ffffff;
    display: flex;
    
    margin-top: -70px;
  }

  .ticketSearchBar {
    background-color: rgb(119, 141, 169);
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 230px;
    width: 550px;
    border-radius: 0px 0px 15px 0px;
  }
}
