
.App {
  text-align: center;
}

body{
  
  background-color: rgb(27, 38, 59) ;
}

.Heady{
  background-color: black;
 margin-bottom: 40px;
}

.Ban{
  background-color:black;
   width: 100%;
   
}



.bod{
  display: grid;
  justify-content: center;
}



.imgbut{
margin-right: 300px;
height:inherit;
}
  

h2{
  color: white;
}